[data-theme="light"] {
    --color-bg: white;
    --color-txt: black;
    --color-hvr: darkgrey;
    --color-btn: black;
}

[data-theme="dark"] {
    --color-bg: black;
    --color-txt: white;
    --color-hvr: darkseagreen;
    --color-btn: white;
}

body, html {
    font-family: Helvetica, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-txt);
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    max-width: 992px;
    transition: all var(--global-transition-time) ease-in-out;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-container img {
    max-height: 50px;
}

.buttons-container {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: var(--color-txt);
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: var(--color-hvr);
}

.mode-button {
    font-size: 1.2em;
    border: none;
    box-shadow: none;
    color: var(--color-txt);
}

button {
    background-color: var(--color-bg);
    color: var(--color-btn);
    font-weight: 800;
    padding: 8px 15px;
    border: 2px solid var(--color-btn);
    border-radius: 5px;
    box-shadow: 2px 2px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.1s ease-in-out;
}

button:active {
    transform: translateY(2px);
}

button:hover {
    color: var(--color-hvr);
    border-color: var(--color-hvr);
}

.burger-menu-button {
    display: none;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.master-container {
    max-width: 60%;
    border: 2px solid var(--color-txt);
    border-radius: 10px;
    box-shadow: 2px 2px;
}

.big-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.image-container {
    padding: 10px;
}

.image-container img {
    max-width: 175px;
    border-radius: 5px;
}

.description-container {
    padding: 10px;
    text-align: center;
    line-height: 25px;
}

.action-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.action-button {
    padding: 15px;
    width: 50%;
}

.contract-container {
    font-size: 0.6em;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

@media (max-width: 600px) {

    .links-container {
        display: none;
    }

    .links-container li {
        display: block;
        margin: 20px;
        font-size: 1.4em;
    }

    .links-container.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: fixed;
        top: 69px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: var(--color-bg);
        padding: 10px;
        z-index: 999;
        transition: transform 0.3s ease-in-out;
        opacity: 0.9;
    }
    a:hover, button:hover {
        color: var(--color-txt);
        border-color: var(--color-txt);
    }

    .burger-menu-container {
        display: flex;
        align-items: center;
    }

    .burger-menu-button {
        display: block;
        background-color: transparent;
        font-size: 1.5em;
        padding: 0 8px 4px 8px;
        margin-left: 2px;
        border: none;
        color: var(--color-txt);
        box-shadow: none;
    }

    .master-container {
        max-width: 100%;
        margin: 0 10px;
    }

    .big-container {
        padding: 10px;
        max-width: 100%;
    }
    .content-container {
        flex-direction: column; 
        align-items: center;
    }

    .description-container {
        max-width: 100%;
    }

    .action-button {
        width: 80%;
    }
}